:root {
    --color1: #14738d;
    --color2: #6ee6da;
}

#title {
    display: flex;
    background-image: linear-gradient(to bottom right, var(--color1), white, var(--color2));
    text-align: center;
    margin: 20px;
    padding: 50px;
    font-size: 100px;
    font-family: 'Mate SC', serif;
    border: solid;
    /* position: relative; */
}

.input {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.hero {
    margin: 50px;
    padding: 5px;
}

.heroText {
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    border: solid;
}

.card {
    margin: 70px;
}

.button {
    justify-content: center;
    margin-top: 20px;
}

.searchBar {
    text-align: center;
}

.hero {
    margin: 50px;
    padding: 20px;
    border: solid;
}

.card {
    margin: 70px;


}
.level {
    padding-bottom: 20px;
}

.class {
    margin: 20px 0 20px 0;
}

#review {
    margin-left: 35%;
    margin-right: 35%;
    background-color: var(--color1);
}

#review p {
    text-align: center;
    color: white;
}

p {
    color: white;
}

.reviewBtn {
    display: flex;
    justify-content: center;
}

#footer {
    background-image: linear-gradient(to bottom right, var(--color1), white, var(--color2));
    text-align: center;
    margin: 20px;
    padding: 50px;
    border: solid;
    font-family: 'Mate SC', serif;
}

.content {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
}

h3{
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}
h4{
    text-align: center;

}
/* unvisited link */
.titleLink:link {
    color: black;
  }
  
  /* visited link */
  .titleLink:visited {
    color: black;
  }
  
  /* mouse over link */
  .titleLink:hover {
    color: var(--color2);
  }
  
  /* selected link */
  /* .titleLink:active {
    color: var(--color2);
  } */
